@model List<UsuarioModel>;

@{
    ViewData["Title"] = "Listagem de Usuarios";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" asp-controller="Usuario" asp-action="Criar" role="button">Adicionar novo Usuário</a>
    </div>
    </br>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }
     @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
             <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    </br>

    <h1 class="display-4">Lista de Usuários</h1>

    <table class="table" id="table-usuarios"> 
        <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Login</th>
              <th scope="col">Email</th>
              <th scope="col">Data Cadastro</th>
              <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
           @if(Model != null && Model.Any()){
                foreach(UsuarioModel usuario in Model)
                {
                    <tr>
                        <th scope="row">@usuario.Id</th>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.DataCadastro</td>
                       <td>
                          <div class="btn-group" role="group" aria-label="Basic example">
                         
                          <a role="button"   class="btn btn-primary"asp-route-id="@usuario.Id"  asp-controller="Usuario" asp-action="Editar">Editar</a> 
                          <a role="button"   class="btn btn-danger"asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="Excluir">Excluir</a>
            
               </div>
                </td>
                    </tr>


                }}
       
           

        </tbody>


    </table>

</div>