@model AlterarSenhaModel;
    
@{
    ViewData["Title"] = "Alterar Senha";
}

<div class="text-center">

<h1 class="display-4">Alterar Senha</h1>

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }
     @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
             <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

</div>

<form asp-controller="AlterarSenha" asp-action="Alterar" method="post">

  
    <div class="form-group">
    <label form="SenhaAtual">Senha Atual</label>
     <input type ="password" asp-for ="SenhaAtual"  class="form-control" placeholder="Digite a senha atual " />
       @Html.ValidationMessageFor(x => x.SenhaAtual)
  </div>

      <div class="form-group">
    <label form="NovaSenha">Nova Senha</label>
     <input type ="password" asp-for ="NovaSenha"  class="form-control" placeholder="Digite a sua nova senha " />
       @Html.ValidationMessageFor(x => x.NovaSenha)
  </div>

      <div class="form-group">
    <label form="ConfirmarSenha">Confirmar Senha</label>
     <input type ="password" asp-for ="ConfirmarSenha"  class="form-control" placeholder="Digite a sua nova senha " />
       @Html.ValidationMessageFor(x => x.ConfirmarSenha)
  </div>

  <br />
 
<button type ="submit" class="btn btn-primary w-100">Alterar</button>
<a type ="submit" class="btn btn-secondary w-100" asp-controller="Home" asp-action="Index" role="button">Voltar</a>


</form>
