@model List<ContatoModel>

@{
    ViewData["Title"] = "Lista de Contatos";
}
<div class="text-center">

<h1 class="display-4">Lista de Contatos</h1>



<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" role ="button" asp-controle ="Contato" asp-action="Criar">Adicionar novo Contato</a>
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" role ="button" asp-controller="Contato" asp-action="Criar">Adicionar novo Contato</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Telefone</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(ContatoModel contato in Model)
                {
                        <tr>
      <th scope="row">@contato.Id</th>
      <td>@contato.Nome</td>
      <td>@contato.Email</td>
      <td>@contato.Telefone</td>
      <td>
          <div class="btn-group" role="group" aria-label="Basic example">
             <a role="button"   class="btn btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a> 
             <a role="button"   class="btn btn-danger" asp-controller="Contato" asp-action="Excluir">Excluir</a>
             <a role="button"   class="btn btn-primary"asp-route-id="@contato.Id"  asp-controller="Contato" asp-action="Editar">Editar</a> 
             <a role="button"   class="btn btn-danger"asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Excluir">Excluir</a>
            
            </div>

      </td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton@gmail.com</td>
      <td>7845112547</td>
           <td>
          <div class="btn-group" role="group" aria-label="Basic example">
         <a role="button"   class="btn btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a> 
         <a role="button"   class="btn btn-danger" asp-controller="Contato" asp-action="Excluir">Excluir</a>
        
             </div>

      </td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>Larry gmail.com</td>
      <td>1578448775</td>
           <td>
          <div class="btn-group" role="group" aria-label="Basic example">
         <a role="button"   class="btn btn-primary"  asp-controller="Contato" asp-action="Editar">Editar</a> 
         <a role="button"   class="btn btn-danger" asp-controller="Contato" asp-action="Excluir">Excluir</a>
             </td>

                }
            }

  </tbody>
</table>
</div>